title{
  text-shadow: 3px 2px yellow;
}
body {
  
  font-family: monospace;
  background:url(./100.jpg)  no-repeat center center;
  background-size:cover;
}
h1,h3{
  color:black
}
p{
  font-size:10x;
  color:blue
}
  img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
}

  
